{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "semi": 2,
    "no-unused-vars": 2,
    "@typescript-eslint/no-explicit-any": 0
  },
  "ignore": ["dist"]
}
